@media(max-width: 767px){
    .center{
        padding-left: 16px;
        padding-right: 16px;
        }
    .top{
display: flex;
align-items: center;
text-align: center;
padding-top: 238px;
&__contant{
    display: flex;
    align-items: center;
    text-align: center;
}
&__title{
    font-size: 32px;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;
    color: aqua;
}
&__text{
font-size: 14px;
line-height: 22px;
}
&__contant {
    padding-left: none;
}
    }
}